.Content_Item[Background]{
    background-image: url("../../Assets/Images/Banner_Layer_1.png");
    background-color: #2b2f51;
    background-color: #3267ff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 50;
}

.ELISM24_Controls, .ELISM24_RecordSlides{
    margin-left: 5%;
    margin-right: 5%;
}

.ELISM24_Controls_Info{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: 
        "Timer Timer_Running Team"
        "Timer Timer_Running Word"
        "Timer_Status Timer_Status Timer_Status"
    ;
    align-items: center;
    grid-gap: 10px;
}

.ELISM24_Controls_Info_Time, .ELISM24_Controls_Info_Team, .ELISM24_Controls_Info_Word, .ELISM24_Controls_Info_Time_Running{
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    margin: 0;
    font-size: 40px;
}

.ELISM24_Controls_Info_Time{
    grid-area: Timer;
    font-size: 70px;
    
}

.ELISM24_Controls_Info_Team{
    grid-area: Team;
}

.ELISM24_Controls_Info_Word{
    grid-area: Word;
}

.ELISM24_Controls_Info_Timer_State{
    grid-area: Timer_Status;
}

.ELISM24_Controls_Info_Time_Running{
    grid-area: Timer_Running;
    text-align: left;
    align-self: flex-end;
}

.ELISM24_Controls_Buttons{
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
}

.ELISM24_Controls_Values{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    margin-top: 10px;
}

.ELISM24_Controls_Values_Card{
    display: grid;
    grid-template-rows: 1fr;
    padding: 10px;
    border: solid var(--Color-Borders) 3px;
    border-radius: 5px;
    background-color: var(--BG-Color-Opacitated);
}

.ELISM24_Timer{
    /* background-color: #2b2f51;
    background-color: #3267ff; */
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
}


.ELISM24_Timer[Shake = "None"]{
    animation-name: none;
}

.ELISM24_Timer[Shake = "Shake"]{
    animation-name: Shake;
}

.ELISM24_Timer_Time[Overtime]{
    animation-name: Timer_Overtime_Blink;
    animation-duration: 0.2s;
    animation-iteration-count: 5;
}

.ELISM24_Timer[State="Timer"] > .ELISM24_Timer_Time > .ELISM24_Timer_Time_Text{
    font-size: 450px;
}

.ELISM24_Timer[State="Timer"] > .ELISM24_Timer_Word > .ELISM24_Timer_Word_Text{
    font-size: 15vw;
    opacity: 0%;
    display: none;
}

.ELISM24_Timer[State="WithWord"] > .ELISM24_Timer_Time > .ELISM24_Timer_Time_Text{
    font-size: 15vw;
}

.ELISM24_Timer[State="WithWord"] > .ELISM24_Timer_Word > .ELISM24_Timer_Word_Text{
    font-size: 15vw;
    opacity: 100%;
    display: block;
}


.ELISM24_Timer_Time_Text, .ELISM24_Timer_Word_Text{
    font-family: Gilroy_Bold;
    font-weight: 1500;
    text-align: center;
    margin: 0;
    color: #fcb956;
    color: white;
    -webkit-text-stroke: white 10px;
}

@keyframes Shake{
    0% {
        transform: translateX(-150px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(0px);
    }
}

.ELISM24_Banner{
    background-color: red;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #2b2f51;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
}


.ELISM24_Banner_Layer{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.ELISM24_Banner_Logo{
    position: absolute;
    width: 80%;
}

.ELISM24_Banner_Layer:nth-child(2), .ELISM24_Banner_Layer:nth-child(4){
    bottom: -50px;
}

.ELISM24_Banner_Layer:nth-child(4){
    right: 0;
}

.ELISM_Sparkle{
    transform: scale(0.25);
    opacity: 0%;
    transition: all 6s !important;
    transition-timing-function: cubic-bezier(0, 0.64, 0, 0.96);
    transition-timing-function: linear;
    animation-name: ELISM_Sparkle_Blink;
    animation-iteration-count: 4;
    animation-duration: 5s;
}

.ELISM_Sparkle_Decoration{
    position: absolute;
    transform: scale(0.05);
    opacity: 100%;
    transition: all 6s !important;
    z-index: 0;
}

.ELISM_Sparkle_Decoration_Twinkling{
    position: absolute;
    opacity: 0%;
    z-index: 0;
    transform: scale(0.03);
    transition-timing-function: cubic-bezier(0, 0.64, 0, 0.96);
    transition-timing-function: linear;
    animation-name: ELISM_Sparkle_Blink;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes ELISM_Sparkle_Blink{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

.ELISM24_Timer_Phases{
    height: 175px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.ELISM24_Timer_Phases_Item{
    width: 125px;
    height: 125px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 15px 15px;
    border: solid white 10px;
    transform: rotate(45deg);
}

.ELISM24_Timer_Phases_Item[Phase="Red"]{
    background-color: rgb(255, 88, 88);
}

.ELISM24_Timer_Phases_Item[Phase="Yellow"]{
    background-color: rgb(255, 241, 88);
}

.ELISM24_Timer_Phases_Item[Phase="Green"]{
    background-color: rgb(88, 255, 110);
}

.ELISM24_Timer_Phases_Item[State="Inactive"]{
    width: 50px;
    height: 50px;
    border-radius: 0%;
}

.ELISM24_Timer_Phases_Item[State="Active"]{
    width: 175px;
    height: 175px;
    transform: rotate(180deg);
}

.ELISM24_Timer_Phases_Item[State="Standby"]{
    width: 125px;
    height: 125px;
}


.ELISM24_Timer[Phase = "Green"] > .ELISM24_Timer_Time > .ELISM24_Timer_Time_Text{
    color: rgb(88, 255, 110);
}

.ELISM24_Timer[Phase = "Yellow"] > .ELISM24_Timer_Time > .ELISM24_Timer_Time_Text{
    color: rgb(255, 241, 88);
}

.ELISM24_Timer[Phase = "Red"] > .ELISM24_Timer_Time > .ELISM24_Timer_Time_Text{
    color: rgb(255, 88, 88);
}

@keyframes Timer_Overtime_Blink {
    0% {
        opacity: 100%;
    }
    25% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    75% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.ELISM24_Slides{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
}

.ELISM24_Slides[State = "Active"]{
    opacity: 100%;
}

.ELISM24_Slides_Slide{
    position: absolute;
    object-fit: cover;
    height: 1000px;
}

.ELISM24_Slides_Slide[State = "Inactive"]{
    opacity: 0%;
}

.ELISM24_Slides_Slide[State = "Active"]{
    opacity: 100%;
}

.ELISM24_RecordSlides{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}

.ELISM24_Records{
    margin-top: 10px;
}

.ELISM24_Records_Title{
    display: grid;
    grid-template-columns: 1fr auto;
}

.ELISM24_Records_List_Item{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 80px;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}

.ELISM24_Records_List > .ELISM24_Records_List_Item:hover{
    background-color: var(--BG-Color-Hover);
    cursor: pointer;
}

.ELISM24_Records_List_Item_Text{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    margin: 0;
}

.ELISM24_Records_List_Item_Delete{
    height: 40px;
}

.ELISM24_Records_List_Item_Delete > img{
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 0;
}

.ELISM24_Controls_Slides_List{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
    margin-top: 10px;
}

.ELISM24_Controls_Slides_Item{
    display: grid;
    grid-template-rows: 1fr auto;
}

.ELISM24_Controls_Slides_Item_Thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ELISM24_Controls_Slides_Item_Thumbnail_Image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ELISM24_Banner[Display_State = "Active"], .ELISM24_Question[Display_State = "Active"], .ELISM24_Timer[Display_State = "Active"], .ELISM24_Slides[Display_State = "Active"]{
    opacity: 100%;
}

.ELISM24_Banner[Display_State = "Inactive"], .ELISM24_Question[Display_State = "Inactive"], .ELISM24_Timer[Display_State = "Inactive"], .ELISM24_Slides[Display_State = "Inactive"]{
    opacity: 0%;
}

.ELISM24_Question{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.ELISM24_Question_Text{
    font-family: Gilroy_Bold;
    color: white;
    text-align: center;
    font-size: 5vw;
    margin: 150px;
}

.ELISM24_Clock_Overlay{
    width: 100%;
    height: 100%;
    padding: 50px;
}

.ELISM24_Clock_Overlay_Time{
    font-family: Gilroy_Bold;
    color: white;
    margin: 0;
}

.ELISM24_Clock_Overlay[Display_State = "Inactive"] > .ELISM24_Clock_Overlay_Time{
    font-size: 75px;
    position: absolute;
    bottom: 40px;
}

.ELISM24_Clock_Overlay[Display_State = "Active"]{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ELISM24_Clock_Overlay[Display_State = "Active"] > .ELISM24_Clock_Overlay_Time{
    font-size: 20vw;
}